/* TOUTE LA PAGE */

.pageContainer {
  background-color: #fefaea;
  height: 100vh;
  margin-top: 70px;
}

/* PARTIE TITRE */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.h3title {
  margin: 0;
  color: var(--font-color);
}

.subTitle {
  margin: 0;
  color: var(--font-color);
}

/* PARTIE FORMULAIRE TITRE ET DATE */

.labelForm {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.labelName {
  color: var(--font-color);
}

.labelDate {
  color: var(--font-color);
}

/* PARTIE CATEGORIES */

.categoryForm {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.categoriesIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.spendingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelName {
  display: flex;
  flex-direction: column;
}

.labelDate {
  display: flex;
  flex-direction: column;
}

.nameInput {
  background-color: #c3e9ac;
  border-radius: 5px;
  border-color: transparent;
}

.dateInput {
  background-color: #c3e9ac;
  border-radius: 5px;
  border-color: transparent;
}

.iconBtn {
  background: #c3e9ac;
  border-radius: 5px;
  padding: 0;
  border: transparent;
  width: 51px;
  height: 51px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBtn:hover {
  background: #609f39;
}

.icon {
  width: 31px;
  height: 28px;
}

/* SLIDER */

:root {
  /* PARTIE SLIDER */
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
  /* AUTRE PARTIE */
  --font-color: #609f39;
  --font-style: normal;
}

.customSlider {
  /* max width of your slider */
  width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 10px;
  border-radius: 5px;
  /* default color of your track */
  background: #c3e9ac;
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
}

.value {
  margin-top: 30px;
}

/* MISE EN PAGE DE LA PARTIE SLIDER */

.unitForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MISE EN PAGE RESULTAT CONSOMATION */

.consumeForm {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  margin-top: 30px;
}

.consumeTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: red;
}

.addSpendingBtn {
  margin-top: 30px;
  align-self: center;
  width: 75%;
  width: 281px;
  height: 49px;
  background: #484b8a;
  border-radius: 5px;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
}
