/* TOUTE LA PAGE */

* {
  font-style: normal;
  color: #609f39;
}

.carbonContainer {
  background-color: #fefaea;
  height: 100%;
}

/* PARTIE TITRE */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3title {
  margin: 0;
  color: #609f39;
}

.subTitle {
  margin: 0;
  color: #609f39;
}

/* PARTIE FORMULAIRE TITRE ET DATE */

.labelForm {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* PARTIE CATEGORIES */

.categoryForm {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.categoriesIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spendingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelName {
  display: flex;
  flex-direction: column;
}

.labelDate {
  display: flex;
  flex-direction: column;
}

.nameInput {
  background-color: #c3e9ac;
  border-radius: 5px;
  border-color: transparent;
}

.dateInput {
  background-color: #c3e9ac;
  border-radius: 5px;
  border-color: transparent;
}

.iconBtn {
  background-color: #fefaea;
  border-color: transparent;
  padding: 0;
  width: 51px;
  height: 51px;
}

/* SLIDER */

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.customSlider {
  /* max width of your slider */
  width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
}

/* MISE EN PAGE DE LA PARTIE SLIDER */

.unitForm {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MISE EN PAGE RESULTAT CONSOMATION */

.consumeForm {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.consumeTitle {
  align-self: center;
}

.addSpendingBtn {
  align-self: center;
  width: 75%;
  width: 281px;
  height: 49px;
  background: #484b8a;
  border-radius: 5px;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
